
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* 
{
box-sizing: border-box;
margin: 0 auto;
padding: 0 auto;
font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}



html {

height: 100%;
 background: linear-gradient(
    rgba(139, 227, 199, 0.7),
    rgba(8, 170, 239, 0.7)
  ); 
  

  background-repeat: no-repeat;
}

